
<header class="page-header">
    <h1>Admin Dashboard:</h1>
  </header>

  <div class="intro">
      <p>
        Number of products in the database: <%= @product_count %>
       
      </p>
      <p>
        Number of categories in the database: <%= @categories_count %>
       
      </p>
      
    </div>