<section class="about-show">

<h1>About Us</h1>

<article class="product-detail">

<p>Welcome to the greatest plant store on planet Earth! </p>

</p>You might not have realized it but your now part of the Jungle family and we couldnt possibly be anyhting less then ecstatic to have you. </p>

</p>Within our cutting edge website you will find the latest and greatest plant offerings at unmatchable prices  </p>


 </article>